<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Бронювання</title>
        <link rel="stylesheet" href="/admin_reservation.css" />
    </head>
    <body>
        <a href="/admin">Назад до панелі </a>

        <h2>Бронювання</h2>
        <table>
            <thead>
                <tr>
                    <th>Ім'я клієнта</th>
                    <th>Дата</th>
                    <th>Час</th>
                    <th>Кількість людей</th>
                    <th>Статус</th>
                    <th>Дата створення</th>
                    <th>Попереднє замовлення</th>
                    <th>Дія</th>
                </tr>
            </thead>
            <tbody>
                <% reservations.forEach(reservation => { %>
                <tr>
                    <td><%= reservation.customerName %></td>
                    <td>
                        <%= new Date(reservation.date).toLocaleDateString() %>
                    </td>
                    <td><%= reservation.time %></td>
                    <td><%= reservation.people %></td>
                    <td><%= reservation.status %></td>
                    <td><%= reservation.createdAt.toLocaleDateString() %></td>
                    <td><%= reservation.preOrder ? reservation.preOrder : 'Немає' %></td>
                    <td>
                        <form
                            action="/admin/reservations/cancel/<%= reservation.id %>"
                            method="POST"
                        >
                            <button type="submit">Скасувати</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>
